<html ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <!-- Import main Annotorious script and CSS -->
        <link rel="stylesheet" href="css/annotorious.css" type="text/css" />
        <script src="js/annotorious.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="js/annotator.js"></script>
        <link rel="stylesheet" href="css/annotator.css" type="text/css" />
    </head>

    <body ng-controller="AnnotatorController as annotator" class="container">
        <div class="row">
            <img ng-src="{{annotator.img}}" id="img"/>
        </div>
        <div class="row">
            <button class="col-md-2 btn btn-primary" ng-click="annotator.saveAndLoadNext()">Save &amp; next</button>
            <!--<button class="col-md-2 btn btn-primary" ng-click="annotator.loadNext()">Next</button>-->
            <ul class="col-md-4 col-md-offset-1">
                <li ng-repeat="brand in annotator.brands">{{brand[0]}} ({{brand[1]}})</li>
            </ul>
            <ul class="col-md-4 col-md-offset-1">
                <li ng-repeat="img in annotator.last"><a href="#" ng-click="annotator.loadImg(img)">{{img}}</a></li>
            </ul>
        </div>
    </body>
</html>
